<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Server=127.0.0.1; Uid=root; Pwd=1234; Database=subpubdemodb;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ServerListenerUrl" value="http://127.0.0.1:2020/"/>
  </appSettings>
</configuration>